body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    margin: 5px;
}


/* unvisited link */

a:link {
    color: #242424;
}


/* visited link */

a:visited {
    color: rgb(172, 172, 172);
}


/* mouse over link */

a:hover {
    color: rgb(78, 58, 58);
}

li .hidden {
    color: rgb(0, 0, 0, 0);
}

.banner {
    background-image: url(../img/suit.jpg);
    display: block;
    height: 250px;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
}

.name {
    margin: 0 10%;
}


/* make picClick */


/* want to scale down the imgage as size of window */